.content {
    justify-content: center;
    padding-left: 30px;
}
.avatar {
    width: 220px;
    height: 230px;
}
.contact {
    padding-left: 15px;
}
.requestError {
    border: red 2px solid;
    padding: 5px;
    color: crimson;
}
.posts {
    color: azure;
}