.usersPage {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    margin: 10px;
    padding: 5px;
}

.user {
    border: aqua 2px solid;
    padding: 10px;
}

.avatar {
    width: 120px;
    height: 100px;
}
